body {
	background-color: #222;
}

nav {
	z-index: 100000000000 !important;
}

a:hover {
	color: #CECECE !important
}
a.selected {
  color: white !important; 
  background: #222;
}

label {
	white-space: nowrap;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-left: 0px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#extraUtility {
	background-color: gray;
}

#interUtility {
	background-color: white;
}

#cal {
	cursor: default;
}

.ui-datepicker-calendar, .ui-datepicker-next, .ui-datepicker-prev {
    display: none;
    }

.ui-datepicker-year, .ui-datepicker-month {
	background-color: white;
	border-color: #428bca;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	color: #555;

}

#tsContainer {
	background-color: #eee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	
}

#tsLegend {
  text-align:center;
  /*font-size: 0.9rem !important;*/
  padding: 5px;
}


#map {
	width: 100%;
}

.pointer {
	cursor: pointer !important;
}


#intraUtility {
	background-color: #D3D3D3;
}