body {
	background-color: #222;
  overflow: hidden
}

nav {
	z-index: 100000000000 !important;
}

a:hover {
	color: #CECECE !important
}
a.selected {
  color: white !important; 
  background: #222;
}

td {
  font-style: italic;
}


.centered {
  text-align: center;
}

.myButton {
  margin-top: 30px;
  background-color:#ffffff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-size:24px;
  padding:10px 35px;
  text-decoration:none;
  outline: none !important;
}
.myButton:hover {
  color:#000000;
  background-color:#337ab7;
}
.myButton:active {
  position:relative;
  top:1px;
}

#summarySentence label {
	white-space: nowrap;
  font-size: 93%;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-left: 0px !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.section {
	background-color: white;
}

#cal {
	cursor: default;
}


#dateSelection {
  padding-top: 10px
}

#tsContainer {
	background-color: #eee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	
}

#tsLegend {
  text-align:center;
  /*font-size: 0.9rem !important;*/
  padding: 5px;
}

#map {
	width: 100%;
}

.pointer {
	cursor: pointer !important;
}